/* body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1, h2, h3 {
    color: #343a40;
}

.btn-custom {
    background-color: #007bff;
    color: white;
}

.navbar-custom {
    background-color: #343a40;
}

.footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
} */